

.topnav {
  background-color: rgb(1, 1, 95);
  overflow: hidden;
}


.topnav a {
  float:right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20GFpx;

}


.topnav a:hover {
  background-color: rgb(4, 4, 114);
  color: white;
}

.topnav .icon {
  display: none;
}


.img{
  border-radius: 50%;
}

